* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Убедитесь, что padding входит в общую ширину */

  scrollbar-width: thin;
  scrollbar-color: red hsl(0 0% 20%);

}


/*Скроллбар */
/* Скрываем стандартные кнопки */
::-webkit-scrollbar-button {
    display: none;
}

/* Настраиваем общий вид скроллбара */
::-webkit-scrollbar {
    width: 1vw; /* Ширина вертикального скроллбара */
    height: 1vw; /* Высота горизонтального скроллбара */
}

/* Фон полосы прокрутки */
::-webkit-scrollbar-track {
    background: green; /* Прозрачный трек */
}

/* Сам ползунок */
::-webkit-scrollbar-thumb {
    background-color: red; /* Тонкая темная полоска */
    border-radius: 0px; /* Скругление */
}


:root {


  --scrolbar_html: 0px;

  --main_menu_height: 7vh;
  --main_menu_height_2: calc(var(--main_menu_height) + 2vh);
  --main_menu_height_min: 35px;
  --main_menu_height_shrink: 1vh;


  --coub_height: 35vh;
  --coub_height_min: 50px;



  --transition_time_s: 2.0s;
  --transition_time: .6s;
  --real_transition: .3s;


  --menu_height:calc(15px + 3vh);


  --font-size: 4vh;
  
  --MainMenuNested:#FFFFFF;
  --ButtonHover:#f1f1f1;
  --ButtonPress:#e0e0e0;

  --ThemeColor:#FF7F50;
  --ThemeColorMuted:#FF7F5090;


  --OrangeRed: #FF4500;
  --Coral: #FF7F50;


  --UnderlineColor: #FF4500ca;
  --Deny: #Af0000;
  --DenyHover:#FF0000;


}

/*Шрифты*/
html {
  font-size: clamp(20px, var(--font-size), var(--font-size)); /* 1rem = 16px  var(--font-size);*/
}


.fs0_6{
  font-size: 0.6rem;
}

/* Убираем все стили с ссылок */
a {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Убирает изменение цвета текста */
    background: none; /* Убирает фон */
    border: none; /* Убирает границу */
    font: inherit; /* Наследует шрифт родительского элемента */
    padding: 0; /* Убирает возможные отступы */
    margin: 0; /* Убирает возможные внешние отступы */
    outline: none; /* Убирает контур */
}

button{
  all:unset;
  cursor: default;
}


/* Стиль кнопки */
.button {

    padding-left: 2px;
    padding-right: 2px;
    color: #333; /* Темный цвет текста */
    background-color: var(--MainMenuNested); /* Белый фон */
    border: 1px solid #333; /* Светло-серая рамка */
    border-radius: 2px; /* Скругленные углы */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
    transition: all 0.1s ease; /* Плавные переходы для эффектов */
}

/* Эффект при наведении */
.button:hover {
    background-color: var(--ButtonHover); /* Легкое затемнение фона при наведении */
    border-color: #555;  /* Цвет рамки немного темнее */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Тень становится более заметной */
    transform: scale(1.05); /* Легкое увеличение кнопки */
}

/* Эффект при нажатии */
.button:active {
    background-color: var(--ButtonPress); /* Еще более темный фон при нажатии */
    border: 3px solid #444; /* Цвет рамки становится темнее */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Меньшая тень при нажатии */
    transform: scale(0.98); /* Кнопка слегка уменьшается при нажатии */
}



.h1w1{
  height: 100%;
  width: 100%;
}

.h1{
  height: 100%;
}

.w1{
  width: 100%;
}
