




.main-menu-buttons{
  position: relative;
  background: var(--OrangeRed);
  display:flex;
  width: 100vw;

}

.slider{
  width: 100%;
  display: flex;
}

.nested{
  max-height: 100%;
  position: relative;
  display: flex;
  gap: 10px;
  transition: left var(--transition_time); ease-out;
}




.main-menu-buttons:active{
  cursor:move;
}

.nested.unactive .menu-button:hover {
  max-height: 100vh;
}

.nested.unactive .menu-button:hover .button-text{
  max-height: 100vh;

}

.nested.unactive .menu-button:hover .displayedSubMenuButton{
  max-height: 100vh;
  transition: max-height var(--transition_time_s);
}

.nested.unactive:has(.menu-button:hover) {
  
  max-height: 100vh;

}

.sidebar:has(.menu-button:hover){
  max-height: 100vh;
  transition: height var(--transition_time_s);
  overflow: unset;
}



.button-text:hover{
  background-color:red
}


.button-text{
  position: relative;
  background-color: var(--Coral);
  
  height: 100%;
  width: auto;

}



.menu-button{

  
  user-select: none;
  height: 50%;
  min-height: var(--main_menu_height_min);
  height: var(--main_menu_height);
  width: var(--coub_height);

  
}



.displayedSubMenuButton{

  position:absolute;
  max-width: 95vw;
  width: fit-content;
  max-height: 0vh;
  overflow: hidden;
  background-color: yellowgreen;

}

.reverse-displayedSubMenuButton{
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}


@media(hover:hover){
  .reverse-displayedSubMenuButton{
    min-width: 200%;
    
}
}

@media(hover:none){
  .reverse-displayedSubMenuButton{
    min-width: 95vw;
}
}

.submenuButton{
  padding: 5px;
}

.submenuButton:hover{
  background-color: red;
}


