




.main-menu-buttons{
  position: relative;
  background: var(--MainMenuNested);
  display:flex;
  width: 100vw;

}

.slider{
  width: 100%;
  display: flex;
}

.nested{
  max-height: 100%;
  position: relative;
  display: flex;
  gap: 10px;
  transition: left var(--transition_time); ease-out;
}


.nested.unactive{
  left:5px;
}

.main-menu-buttons:active{
  cursor:move;
}

.nested.unactive .menu-button:hover {
  max-height: 100vh;
}

.nested.unactive .menu-button:hover .button-text{
  max-height: 100vh;

}

.nested.unactive .menu-button:hover .displayedSubMenuButton{
  max-height: 100vh;
  transition: max-height var(--transition_time_s);
}

.nested.unactive:has(.menu-button:hover) {
  
  max-height: 100vh;

}

.sidebar:has(.menu-button:hover){
  max-height: 100vh;
  transition: height var(--transition_time_s);
  overflow: unset;
}



.button-text:hover{
  background-color:red
}


.button-text{

  padding: 0 2px;
  position: relative;
  background-color: var(--Coral);
  
  height: 100%;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

}

.button-text.button{
  cursor:unset;
}



.menu-button{

  
  user-select: none;
  height: 50%;
  min-height: var(--main_menu_height_min);
  height: var(--main_menu_height);
  min-width: var(--coub_height);
  width: fit-content;
  white-space: nowrap;

  
}



.displayedSubMenuButton{

  position:absolute;
  max-width: 95vw;
  width: fit-content;
  max-height: 0vh;
  overflow: hidden;
  background-color: var(--MainMenuNested);

}

.nested.unactive .menu-button:hover .displayedSubMenuButton{
  border: 2px solid black;
  border-radius: 2px;
}



.reverse-displayedSubMenuButton{
  left: 100%;
  transform: translateX(-100%);
}


@media(hover:none){
  .reverse-displayedSubMenuButton{
    min-width: 95vw;
}
}

.submenuButton{
  padding: 5px;
  font-weight: bold;
  transition: background-color var(--transition_time), box-shadow var(--transition_time), transform var(--real_transition);
}

.submenuButton:hover{
  
  background-color:var(--ButtonPress)
}

.submenuButton:active {
  transform: scale(0.4); 
  box-shadow: 2px 4px 5px var(--CoralBoxShadow);
}

.submenuButton a{
  width: 100%;
  height: 100%;
}

