:root {


  --scrolbar_html: 0px;
  --main_menu_height: 6vh;
  --main_menu_height_min: 30px;
  --main_menu_height_shrink: 1vh;


  --transition_time: .6s;
  --real_transition: .3s;


  --menu_height:calc(15px + 3vh);
}


body {
  padding-top: 10px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: red;
  height: 5000px;  
}

.main_menu {
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: green;
  min-height: var(--main_menu_height_min);
  height: var(--main_menu_height);  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: filter var(--transition_time), opacity var(--transition_time) ;  
  z-index: 1000; 
  filter: blur(0px);
  opacity: 1;

  display: flex;
  justify-content: center;
}

.main_menu.shrink {
  padding-top: 0vh;
  padding-bottom: 0vh;
  background-color: black;
  opacity: 0.5;
  filter: blur(1px);
  min-height: 5px;
  height: var(--main_menu_height_shrink);  
  transition: var(--transition_time)
  

}

.main_menu *{
  opacity: 1;
  transition: opacity var(--transition_time)
  
}

.main_menu.shrink *{
  opacity: 0;
  transition: opacity var(--transition_time)
  
}



.content {
  
  
  overflow: hidden;
  max-width: 100%;
  margin:3%;
  padding-top:calc(var(--main_menu_height) + var(--main_menu_height_min));
}

.menu {
  height: 100%;
  display: flex;
  background-color: yellow;
  width: 100%;
  gap: calc(var(--main_menu_height)/3);

}

.bar {
  display: flex;
  background-color: yellow;
  width: 100%;
  gap: calc(var(--main_menu_height)/3);

}

.panel{
  flex-direction: column;
  overflow: hidden;
  width: 98%;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

.transition {
  min-height: var(--main_menu_height_min);
  height: var(--main_menu_height);  
  transition: var(--transition_time)
}

.button{
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: pink;
  width: var(--main_menu_height);
  min-width: var(--main_menu_height_min);
}

.right_bar {

  justify-content: right;
}


.coub{
  width: 200px;
  height: 200px;
  background-color: blue;
}

.flexable{
  display: grid;
}





/* Унаследованно*/
.Menu_button{
  
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
    transition: var(--real_transition);/* ---------------------------------------------------------------ПЕРЕМЕННАЯ 1*/
    width: 100%;

}

.button:hover div div{
  background: red;
  transition: var(--real_transition);

}


.button:hover .Menu_button{
  transform: scale(1.08);
  transition: var(--real_transition);
}


.button div{
  transform: scale(1);
  transition: var(--real_transition);
}


.button div div{
  transition: var(--real_transition);

}

.line{
  position: absolute;
  width: 60%;
  height: 12%;
  background: black;
}

#line_1{
  top:24.5%;
}

#line_2{
  bottom:24.5%;
}



/*Ротация*/

.deg45{
  transform-origin: left top;
  rotate: 45deg;
}

.deg_m_45{
  transform-origin: left bottom;
  rotate: -45deg;
}


.u_deg45{
  rotate:0deg;
}


.active_button{
  height: 100%;
  transform: translateX(12%) scale(1) !important;
}

.unactive_button{
  height: 60%;
  transform: translateX(0);
  
}






/*Sidebar*/
.sidebar{
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
}

.hidden{
  height: 0;
}


.hidden_all{
  height: 0;
  width: 0;
}

.heightx2{

  min-height: calc(var(--main_menu_height_min)*2);
  height: calc(var(--main_menu_height)*2);  

}

.transition_normal{
  transition: var(--real_transition);
}


.sidebar_pos{
  width: 100%;
  background-color: lawngreen;
  display: flex;
  gap:5px;
}


.sidebar-item{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #4CAF50;
  color: white;
  padding-left: 2px;
  padding-right: 2px;

}




.submenu {
  
  position: absolute;
  background-color: green;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  
    }

.sidebar-item.has-submenu:hover .submenu {
    max-height: 100vh;
    transition: var(--transition_time);
    }

.fixed{
  position: fixed;
}

.submenu_elem{
  padding: 10px;
}


.h1w1{
  height: 100%;
  width:100%;
}


.no-break {
        display: block ruby;
        overflow: visible; /* Запрещает разрыв страницы внутри элемента */
    }


p{
  padding: 0;
  margin:0;
}

.div_button{
  display: flex;
  align-items: center;
}

.hoverable{
  transition: color var(--transition_time);
}


.hoverable:hover{
  color:red;
}

button{
  all:unset;
  cursor: default;
}