:root {


  --scrolbar_html: 0px;
  --main_menu_height: 5vh;
  --main_menu_height_min: 30px;
  --main_menu_height_shrink: 1vh;


  --transition_time: .6s;
}


body {
  padding-top: 10px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: red;
  height: 5000px;  
}

.main_menu {
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: green;
  min-height: var(--main_menu_height_min);
  height: var(--main_menu_height);  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: filter var(--transition_time), opacity var(--transition_time) ;  
  z-index: 1000; 
  filter: blur(0px);
  opacity: 1;

  display: flex;
  justify-content: center;
}

.main_menu.shrink {
  padding-top: 0vh;
  padding-bottom: 0vh;
  background-color: black;
  opacity: 0.5;
  filter: blur(1px);
  min-height: 5px;
  height: var(--main_menu_height_shrink);  
  transition: var(--transition_time)
  

}

.main_menu *{
  opacity: 1;
  transition: opacity var(--transition_time)
  
}

.main_menu.shrink *{
  opacity: 0;
  transition: opacity var(--transition_time)
  
}



.content {
  
  
  overflow: hidden;
  max-width: 100%;
  margin:3%;
  padding-top:calc(var(--main_menu_height) + var(--main_menu_height_min));
}


.bar {
  display: flex;
  background-color: yellow;
  width: 100%;
  gap: calc(var(--main_menu_height)/3);

}

.panel{
  overflow: hidden;
  width: 98%;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

.transition {
  min-height: var(--main_menu_height_min);
  height: var(--main_menu_height);  
  transition: var(--transition_time)
}

.button{

  background-color: pink;
  width: var(--main_menu_height);
  min-width: var(--main_menu_height_min);
}

.right_bar {

  justify-content: right;
}


.coub{
  width: 200px;
  height: 200px;
  background-color: blue;
}

.flexable{
  display: grid;
}